.menu-link{
    color: #0000009c;
    margin-right: 1.25rem;
    text-decoration: none;
    text-transform: lowercase;
}

.menu-link.ativo {
    color: #000000;
    font-weight: bold;
}

.menu-link:hover {
    text-decoration: underline;
}